@tailwind base;
@tailwind components;
@tailwind utilities;


/* button{
    font-size: 20px;
    padding: 5px 20px;
    color: #245DE1;
    background-color: #245DE1;
    border-radius: 5px;
} */

/* from-blue-600 to-blue-800 */

/* .upload{
    background: #245DE1;
    color: white;
    width: fit-content;
    font-size: 16px;
    padding: 10px 20px;
}

.upload:hover{
    background-color: #0143de;

} */

.DashboardLayout{
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
}
.Sidebar{
    /* background-color: red; */
    margin-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
}
.Header{
    display: none;
}

.MainContentContainer{
    /* background-color: blue; */
    padding: 24px;
    border-left: 2px solid rgba(128, 128, 128, 0.2);
    /* background-color: red; */
}

@media (max-width: 700px){
    .DashboardLayout{
        grid-template-columns: 1fr;
        min-height: auto;
    }
    .Sidebar{
        display: none;
    }
    .Header{
        display: flex;
    }
}